<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>IMDAZ - Gerenciamento de Estudantes</title>
  </head>

  <body>
    {{#if students}}
      <ul>
        {{#each students}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    {{else}}
      <p>Não há registros de estudantes para serem exibidos.</p>
    {{/if}}
  </body>
</html>