<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>IMDAZ - Gerenciamento de Estudantes | Matrículas</title>
    <link href="/css/main.css" rel="stylesheet">
  </head>

  <body>
    <main>
      <h1>{{ title }}</h1>
      <p>{{ description }}</p>
    </main>
  </body>
</html>